<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security.xsd">
    <!--设置可以用spring的el表达式配置Spring Security并自动生成对应配置组件（过滤器）-->
    <!--静态资源不拦截-->

    <security:http pattern="/assets/**" security="none"/>

    <security:http auto-config="true" use-expressions="true">
        <!--        使这个页面能匿名访问-->

        <security:intercept-url pattern="/login.html" access="permitAll()"/>
        <!--        配置完放行资源后，再配置拦截信息-->
        <security:intercept-url pattern="/csrf/getToken" access="permitAll()"/>
        <!--使用spring的el表达式来指定项目所有资源访问都必须有ROLE_USER或ROLE_ADMIN角色-->
        <security:intercept-url pattern="/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/>


        <security:form-login
                login-page="/login.html"
                login-processing-url="/login"
                default-target-url="/pages/index.html"
                authentication-failure-url="/failure.html"
                username-parameter="username"
                password-parameter="password"/>
        <security:logout
                logout-url="/logout"
                logout-success-url="/login.html"/>

    </security:http>
    <!--设置Spring Security认证用户信息的来源-->
    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="user" password="{noop}user"
                               authorities="ROLE_USER"/>
                <security:user name="admin" password="{noop}admin"
                               authorities="ROLE_ADMIN"/>
            </security:user-service>

        </security:authentication-provider>
    </security:authentication-manager>
</beans>